.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/copyright/profiles_settings.xml
.idea/compiler.xml
.idea/HeyWake.iml
.idea/misc.xml
Game1/build/android-profile/profile-2017-12-25-23-48-58-562.rawproto
Game1/build/android-profile/profile-2017-12-25-23-48-54-548.rawproto
Game1/build/android-profile/profile-2017-12-25-23-47-12-596.rawproto
Game1/build/android-profile/profile-2017-12-25-23-47-07-134.rawproto
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values/values.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-zu/values-zu.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-zh-rTW/values-zh-rTW.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-zh-rHK/values-zh-rHK.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-zh-rCN/values-zh-rCN.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-xlarge-v4/values-xlarge-v4.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-vi/values-vi.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v25/values-v25.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v24/values-v24.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v23/values-v23.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v22/values-v22.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v21/values-v21.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v18/values-v18.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v17/values-v17.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v16/values-v16.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v14/values-v14.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v13/values-v13.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v12/values-v12.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v11/values-v11.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-uz/values-uz.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ur/values-ur.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-uk/values-uk.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-tr/values-tr.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-tl/values-tl.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-th/values-th.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-te/values-te.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ta/values-ta.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sw600dp-v13/values-sw600dp-v13.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sw/values-sw.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sv/values-sv.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sr/values-sr.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sq/values-sq.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sl/values-sl.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sk/values-sk.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-si/values-si.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ru/values-ru.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ro/values-ro.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pt/values-pt.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pt-rPT/values-pt-rPT.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pt-rBR/values-pt-rBR.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-port/values-port.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pl/values-pl.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pa/values-pa.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-nl/values-nl.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-night-v8/values-night-v8.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ne/values-ne.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-nb/values-nb.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-my/values-my.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ms/values-ms.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-mr/values-mr.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-mn/values-mn.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ml/values-ml.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-mk/values-mk.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-lv/values-lv.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-lt/values-lt.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-lo/values-lo.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ldltr-v21/values-ldltr-v21.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-large-v4/values-large-v4.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-land/values-land.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ky/values-ky.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ko/values-ko.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-kn/values-kn.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-km/values-km.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-kk/values-kk.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ka/values-ka.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ja/values-ja.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-iw/values-iw.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-it/values-it.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-is/values-is.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-in/values-in.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-hy/values-hy.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-hu/values-hu.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-hr/values-hr.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-hi/values-hi.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-hdpi-v4/values-hdpi-v4.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-h720dp-v13/values-h720dp-v13.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-gu/values-gu.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-gl/values-gl.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-fr/values-fr.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-fr-rCA/values-fr-rCA.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-fi/values-fi.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-fa/values-fa.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-eu/values-eu.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-et/values-et.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-es/values-es.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-es-rUS/values-es-rUS.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rIN/values-en-rIN.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rGB/values-en-rGB.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rAU/values-en-rAU.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-el/values-el.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-de/values-de.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-da/values-da.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-cs/values-cs.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ca/values-ca.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-bs/values-bs.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-bn/values-bn.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-bg/values-bg.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-be/values-be.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-b+sr+Latn/values-b+sr+Latn.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-az/values-az.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ar/values-ar.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-am/values-am.xml
Game1/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-af/values-af.xml
Game1/.idea/libraries/android_android_26.xml
Game/build/android-profile/profile-2017-12-25-23-46-07-671.rawproto
Game/build/android-profile/profile-2017-12-25-23-44-54-929.rawproto
Game/build/android-profile/profile-2017-12-25-23-44-45-631.rawproto
Game/build/android-profile/profile-2017-12-25-23-43-51-342.rawproto
Game/build/android-profile/profile-2017-12-25-23-43-45-852.rawproto
Game/app/build/intermediates/transforms/dex/debug/folders/1000/1f/main/classes.dex
Game/app/build/intermediates/pre-dexed/debug/support-annotations-26.0.0-alpha1_c2c7236f0b9bd2a075f72435d2670ec532ecef41.jar
Game/app/build/intermediates/pre-dexed/debug/debug_dce9480101038434112d07fbf3fd9831b878199c.jar
Game/app/build/intermediates/pre-dexed/debug/constraint-layout-solver-1.0.2_181cdc51059480bc0c06f06b53eb9e2314e7e478.jar
Game/app/build/intermediates/pre-dexed/debug/classes_e8a3b3dd5eaed397c2ad787a4ba7adff8e4b3f04.jar
Game/app/build/intermediates/pre-dexed/debug/classes_c82553906a8fdf43df85a0a856e3d38d307c2770.jar
Game/app/build/intermediates/pre-dexed/debug/classes_b40202019be88aebe3a79c107c3bea9c4f3c5d4f.jar
Game/app/build/intermediates/pre-dexed/debug/classes_b2a3347cb46e5fdb4d8dd4c47f6ef43303e8ffda.jar
Game/app/build/intermediates/pre-dexed/debug/classes_70a4afe2fa1ae59ac3f7f4b313cd9a5f88f20ca0.jar
Game/app/build/intermediates/pre-dexed/debug/classes_6e636d791af8ff8128e64d6b966f1c299cfd8d16.jar
Game/app/build/intermediates/pre-dexed/debug/classes_57c158992b3588b77c1617a15931dd9ec06c4b98.jar
Game/app/build/intermediates/pre-dexed/debug/classes_3df2f31b0e4af946b2735d65deb865a3ce6cb01e.jar
Game/app/build/intermediates/pre-dexed/debug/classes_399977620e2ebf27c1dd12e80b375f3e8c0e6b3d.jar
Game/app/build/intermediates/pre-dexed/debug/classes_29bb92f8395803dfcb7747b07c5eb90975838437.jar
Game/app/build/intermediates/pre-dexed/debug/classes_2756e57d28d48ae1f338d2d7ccdc53321ebea586.jar
Game/app/build/intermediates/pre-dexed/debug/classes_25944b181ca03d9a52beaa0952c2e8fd44676851.jar
Game/app/build/intermediates/pre-dexed/debug/classes_222391fea068b6f774024df811fe9f050d9b2868.jar
Game/app/build/intermediates/pre-dexed/debug/classes_11dd7d9e957b5ffd9b56b7b5c1a85f77a4c51452.jar
Game/app/build/intermediates/incremental/packageDebug/zip-cache/tWeCjT1ijdWOKfadZOScRHddOoU=
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-zu/values-zu.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-zh-rTW/values-zh-rTW.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-zh-rHK/values-zh-rHK.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-zh-rCN/values-zh-rCN.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-xlarge-v4/values-xlarge-v4.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-vi/values-vi.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v25/values-v25.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v24/values-v24.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v23/values-v23.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v22/values-v22.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v21/values-v21.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v18/values-v18.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v17/values-v17.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v16/values-v16.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v13/values-v13.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v12/values-v12.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v11/values-v11.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-uz/values-uz.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ur/values-ur.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-uk/values-uk.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-tr/values-tr.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-tl/values-tl.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-th/values-th.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-te/values-te.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ta/values-ta.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sw600dp-v13/values-sw600dp-v13.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sw/values-sw.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sv/values-sv.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sr/values-sr.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sq/values-sq.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sl/values-sl.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sk/values-sk.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-si/values-si.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ru/values-ru.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ro/values-ro.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pt/values-pt.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pt-rPT/values-pt-rPT.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pt-rBR/values-pt-rBR.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-port/values-port.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pl/values-pl.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-pa/values-pa.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-nl/values-nl.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-night-v8/values-night-v8.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ne/values-ne.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-nb/values-nb.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-my/values-my.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ms/values-ms.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-mr/values-mr.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-mn/values-mn.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ml/values-ml.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-mk/values-mk.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-lv/values-lv.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-lt/values-lt.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-lo/values-lo.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ldltr-v21/values-ldltr-v21.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-large-v4/values-large-v4.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-land/values-land.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ky/values-ky.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ko/values-ko.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-kn/values-kn.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-km/values-km.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-kk/values-kk.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ka/values-ka.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ja/values-ja.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-iw/values-iw.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-it/values-it.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-is/values-is.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-in/values-in.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-hy/values-hy.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-hu/values-hu.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-hr/values-hr.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-hi/values-hi.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-hdpi-v4/values-hdpi-v4.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-h720dp-v13/values-h720dp-v13.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-gu/values-gu.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-gl/values-gl.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-fr/values-fr.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-fr-rCA/values-fr-rCA.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-fi/values-fi.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-fa/values-fa.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-eu/values-eu.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-et/values-et.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-es/values-es.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-es-rUS/values-es-rUS.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rIN/values-en-rIN.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rGB/values-en-rGB.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rAU/values-en-rAU.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-el/values-el.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-de/values-de.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-da/values-da.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-cs/values-cs.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ca/values-ca.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-bs/values-bs.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-bn/values-bn.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-bg/values-bg.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-be/values-be.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-b+sr+Latn/values-b+sr+Latn.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-az/values-az.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-ar/values-ar.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-am/values-am.xml
Game/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-af/values-af.xml
Game/.idea/libraries/android_android_26.xml
